<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>my_first_app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>97FF63D91F3C000C009B3465</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97FF63ED1F3C000E009B3465</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97FF63F81F3C000E009B3465</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
